version: '3.8'

services:
  app:
    # Nombre personalizado del contenedor (más fácil de identificar en logs)
    container_name: movie-webapp
    
    # Configuración de construcción de la imagen
    build: 
      context: .              # Directorio desde donde se construye
      dockerfile: Dockerfile  # Archivo que define la imagen
    
    # Mapeo de puertos: puerto_host:puerto_contenedor
    ports:
      - "3002:3000"

    networks:
      movie-network:
        aliases:
          - movie-webapp
    
    # Volúmenes para sincronizar archivos entre host y contenedor
    volumes:
      - .:/app                # Sincroniza todo el proyecto con /app en el contenedor
      - /app/node_modules     # Evita sobrescribir node_modules del contenedor
      - /app/.next            # Mantiene caché de Next.js separada
    
    # Variables de entorno
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3000
      - NODE_ENV=development      # Define el entorno como desarrollo
      - WATCHPACK_POLLING=true    # Habilita hot-reload en Docker (detecta cambios de archivos)
    
    # Política de reinicio: se reinicia automáticamente excepto cuando se detiene manualmente
    restart: unless-stopped
    
    # Permite mantener STDIN abierto (útil para debugging)
    stdin_open: true
    
    # Asigna una pseudo-TTY (terminal interactiva)
    tty: true

networks:
  movie-network:
    external: true